.topnav {
  background-color: #0166cc;
  height: 64px;
  position: absolute;
  top: 0;
  left: 0;
  width: 500%;
}

.sidenav {
  height: 100%;
  width: 64px;
  position: absolute;
  /* z-index: 1; */
  /* top: 0; */
  left: 0;
  background-color: #213341;
}
