.topnav {
  background-color: #0166cc;
  height: 64px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
}

.sidenav {
  width: 64px;
  height: 2300px !important;
  position: absolute;
  left: 0;
  background-color: #213341;
}

.lightbluedot {
  height: 20px;
  width: 20px;
  background-color: #68b2e8;
  border-radius: 50%;
  display: inline-block;
}

.bluedot {
  height: 20px;
  width: 20px;
  background-color: #0166cc;
  border-radius: 50%;
  display: inline-block;
}

.greydot {
  height: 20px;
  width: 20px;
  background-color: #c4c4c4;
  border-radius: 50%;
  display: inline-block;
}
